/*Estilizações Gerais*/

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	background: gainsboro;
}

.sizePadrao{
    width: 450px;
    height: 450px;
}

.title{
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #111d4a;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.txtConteudoPadrao{
    font-size: 20px;
    font-style: italic;
    font-weight: 550;
}

/*Estilizções Menu*/

nav {
	background: #111d4a;
	height: 80px;
	width: 100%;
    font-family: monospace;
    position: fixed;
}

.imgLogo{
    margin-top: 20px;
    margin-left: 20px;
}

label a:hover{
    background: transparent;
}

nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
    
}


nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
    font-weight: 700;
    transform: scale(1.2);    
}
a:hover, a.active{
	background: #92140c;
	transition: .5s;
    
}

li:hover {
    transform: scale(1.2);
    
}

.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	.checkbtn {
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #111d4a;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: #92140c;
	}
	#check:checked ~ ul {
		left: 0;
	}
}


/*Estilizações Container Mapa*/

.containerMap{
    height: 667px;
    width: 100%;
    background-color: #92140c;
    display: table;
}

.sizeImg{
    width: 650px;
    height: 350px;
    margin-top: 150px;
    margin-left: 50px;
}

.btn{
    width: 300px;
    height: 50px;
    cursor: pointer;
    outline: none;
    background: #111d4a;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
    border-width: 0px;
    border-color: transparent;
    border-radius: 20px;
    margin-left: 900px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin-top: -360px;
}

.transparentHover:hover{
    background-color: transparent;
}

/*Estilizações Container 1*/

.container1{
    height: 590px;
    width: 100%;
    background-color: gainsboro;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerTxt{
    width: 300px;
    height: 300px;
    margin-left: -600px;
    margin-top: 200px;
    
}

/*Estilizações Container 2*/

.container2{
    height: 590px;
    width: 100%;
    background-color: gainsboro;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerTxt2{
    width: 300px;
    height: 300px;
    margin-top: 250px;
}

/*Estilizações Container 3*/

.container3{
    height: 590px;
    width: 100%;
    background-color: gainsboro;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerTxt3{
    width: 300px;
    height: 300px;
    margin-top: 250px;
}

/*Estilizações Container 4*/

.container4{
    height: 590px;
    width: 100%;
    background-color: gainsboro;
}

.centralizarImg{
    text-align: center;
    margin-top: -50px;
}

.centralizarTxt{
    text-align: center;
}

.sizeContainer{
    width: 600px;
    height: 300px;
    position: relative;
    left: 357px;
    top: -100px;
}

/*Rodapé*/

.rodape{
    width: 100%;
    height: 300px;
    background-color: #92140c;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerTxtRodape{
    width: 400px;
    height: 20px;
   
}

.sizeIcon{
    width: 48px;
    height: 48px;
}

.sizeIconTransform:hover{
    transform: scale(1.2);
}

.centralizarTxtRodape{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}

.tranparent:hover{
background: transparent;
}

/*Cards*/

.containerG{
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tituloPagina{
    padding-top: 20px;
    width: 100%;
}


.titleCard{
    margin-top: -50px;
}

.card{
    background-color: #ffb700;
    width: 300px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    
    
}

.card-image{  
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    
}

.card-1 {
    background-image: url('./src/img/intro.jpg');
    
}

.card-2 {
    background-image: url('./src/img/interchange1.jpg');
}

.card-3 {
    background-image: url('./src/img/interchange2.jpg');
}

.card-4 {
    background-image: url('./src/img/interchange3.jpg');

}

.card-5 {
    background-image: url('./src/img/kids1.jpg');
    
}

.card-6 {
    background-image: url('./src/img/kids2.jpg');
}

.card-7 {
    background-image: url('./src/img/kids3.jpg');
}

.card-8 {
    background-image: url('./src/img/kids4.jpg');

}

.card h2{
    font-family: sans-serif;
    text-transform: uppercase;
}

.card p {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 550;
}

.card button {
    width: 100px;
    height: 30px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.card:hover{
    cursor: pointer;
    
}

.btn-card:hover{
    transform: translateY(2px);
}

.titleJovens{
    margin-top: 110px;
    margin-bottom: 20px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    color: #111d4a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


.rodapeCurso{
    width: 100%;
    height: 300px;
    background-color: #92140c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 800px;
}

/*Pagina Intercambio*/


.titleIntercambio{
    padding-top: 100px;
    margin-left: 20px;
    font-family: monospace;
    font-weight: bold;
    color: #111d4a;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.introducao{
    width: 100%;
    height: 400px;
    background-color: #ffb700;
}

.titlePaises{
    margin-left: 25px;
    margin-bottom: 5px;
    font-family: monospace;
    font-weight: bold;
    color: #92140c;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titleOpcao{
    margin-left: 20px;
    font-family: monospace;
    font-weight: bold;
    color: #111d4a;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.paises{
    width: 100%;
    height: 100vh;
    display: flex;

}


